#contenido{
    margin-top: 10%;
    padding: 10px;
    text-align: center;
}

#contenido img{
    margin-bottom: 10%;
    margin-left: -5%;
}

#contenido h2{
    margin-left: -5%;
}

#contenido h4{
    margin-left: -5%;
}