
body{
    background : url(/assets/contact_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.site-contact{

    background-color: rgba(255,255,255,0.7);
    border: 1px solid skyblue;
}

form, h1, p{
    margin-left:5%;
    margin-right:5%;
}